/*commentaire*/

#global{
	background-color : blue;
	position : absolute;
	top : 5%;
 	left : 15%;
	width : 70%;/*1100;*/
	height : 970;	
	border : 3px;
	
	}

#entete{
	background-image : url(images/baniere.gif);
	position : absolute;
	top : 5;
	left : 0.5%;
	border: 3px;
	width : 99%;
	height : 300;
	padding : 0;
	}
	
#menu{
	/*background-image : url(images/pianiste.gif);*/
	background-color : LIGHTGREEN;
	border: 3px;
	position : absolute;
	top : 305;
	left : 0.5%;
	width: 99%;
	height: 100;
	padding : 0;
	}
	
#menuG{
	/*background-image : url(images/pianiste.gif);*/
	font-size : 20;
	text-align : center;
	border: 3px;
	position : absolute;
	top : 2%;
	left : 1%;
	width: 15%;
	height: 96%;
	padding : 0;
	}
	
#main{
	background-image : url(images/map2.jpg);
	font-size : 30;
	text-align : center;
	background-color : gray;
	border: 3px;
	position : absolute;
	top : 2%;
	left : 17%;
	width: 82%;
	height: 96%;
	padding : 0;
	}
	
	
#selec1, #selec2, #selec3, #selec4, #selec5,#selec6{
	background-color : black;
	height: 15%;
	width: 100%;
	border: 3px;
	position : absolute;
	left: 0%;
	}
	
#next{
	background-image : url(images/next.gif);
	position : absolute;
	top : 96%;
	left : 0%;
	width: 100%;
	height: 4%;
	}
	
#selec1{
	background-image : url(images/chateau1.gif);
	top :0%;
	}
	
#selec2{
	background-image : url(images/chateau2.gif);
	top :16%;
	}

#selec3{
	background-image : url(images/chateau3.gif);
	top :32%;
	}

#selec4{
	background-image : url(images/chateau4.gif);
	top :48%;
	}

#selec5{
	background-image : url(images/chateau5.gif);
	top :64%;
	}

#selec6{
	background-image : url(images/chateau6.gif);
	top :80%;
	}	
	
#onglet1, #onglet2, #onglet3 , #onglet4, #onglet5, #log{
	height: 90;
	border: 3px;
	position : absolute;
	top : 5%;
	}
	
#onglet1, #onglet2, #onglet3 , #onglet4, #onglet5{
    text-align:left;
	font-family:Verdana;
	font-size:24;
	width: 15%;
	background-color : #40A0A0;
	}
	
	
#onglet1{
	color : black;
	background-image : url(images/chateau.gif);
	left : 0.5%;
}	

 #onglet2{
	color : RED;
	background-image : url(images/map.gif);
	left : 16%;
}

#onglet3{
	color:black;
	text-color:green;
	background-image : url(images/hero1.gif);
	left : 31.5%;
}

#onglet4{
	color:RED;
	background-image : url(images/journal.gif);
	left : 47%;
}
 
#onglet5{
	color:black;
	background-image : url(images/forum.gif);
	left : 62.5%;
}

#log{
    background-color: #8888FF;
	left : 78%;
	width: 21.5%;
}

#pseudobox{
	background-color : #F0F0F0;
	border: 3px solid;
	position : absolute;
	top : 15;
	left : 15;
	border: 3px;
	width:150;
	height: 20;
}

#corps{
	/*background-image : url(images/pianiste.gif);*/
	background-color : pink;
	border: 3px solid;
	position : absolute;
	top : 405;
	left : 0.5%;
	border: 3px;
	width: 99%;
	height: 560;
	}
