/* CSS Document */
intput {
	
	}

input#login{	
	width:40%;
	height:40%;
	margin-left:5px;
	float:left;
}
input#pass{
	width:40%;
	height:40%;
	margin-left:5px;
	float:left;
}

div {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	width:1024px;
	}
	
div#top {
	height:60px;
	background-color:#525A73;
	z-index:3;
	}
	
div#menu {
	height:48px;
	background-color:#000000;
	}
	div#menu_connection{
		width:33%;
		height:inherit;
		background-color:#CCCC00;
		margin-right:5px;
	}
		
		div#login{
			width:40%;
			height:40%;
			background-color:#00FF00;
		}
		div#register{
			width:40%;
			height:40%;
			background-color:#99CCFF;
		}
	div#register_submit{
		margin-left:auto;
		margin-right:auto;
		height:25px;
		width:100px;
		background-color:#9999CC;	
	}
	div#social{
		width:33%;
		height:80%;
		background-color:#99FF33;
		float:left;	
	}
		#accueil{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#forum{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#déconnexion{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}
	div#cité{
		width:33%;
		height:80%;
		background-color:#990000;
		float:left;	
	}
		#construire{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#recruté{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#menu_jeu2_3{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}
	div#map{
		width:33%;
		height:80%;
		background-color:#9900CC;
		float:left;	
	}
		#afficher{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#menu_jeu3_2{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}#menu_jeu3_3{
			z-index:3;
			width:inherit;
			height:25px;
			background-color:#00CCFF;
		}		
	
	label#s_menu_text{
		z-index:3;
	}
	label#l_verif{
		background-color:#FF0000;
		font-size:14px;
		color:#FFFFFF;
	}

div#middle {
z-index:1;
	height:500px;
	background-color:#525A73;
	}
div#bottom {
z-index:3;
	height:50px;
	background-color:#525A73;
	}
	
